.env
teste_dist
dist
Teste Movimento Caminhoes.rar
Teste Movimento Caminhoes 2.rar
janela_inicial.spec
teste.py
config\instancias\janelas\__pycache__
Teste Movimento Caminhoes 2
Teste Movimento Caminhoes
Automacao dos caminhoes 3.0.0